{% extends "pooling/base.html" %}
{% comment %}
vim:ts=2:expandtab:ai
$Id: $
{% endcomment %}
{% load i18n %}

{% if refresh %}
{% block extrahead %}
<script>
$(document).ready(function () {
  $('#refreshstatus').html('Waiting <span id="countdown">{{ refresh }}</span>s ...');
  function initcount(endtime) {
    function countdown() {
      $('#countdown').html('contando');
      var t = Date.parse(endtime) - Date.parse(new Date());
      if ( t <= 0 ) { 
        location.reload(true);
        clearInterval(interval);
        $('#refreshstatus').html('Refreshing...');
      };
      $('#countdown').html(t / 1000);
    };
    countdown();
    var interval = setInterval(countdown, 1000);
  };
  var deadline = new Date(Date.parse(new Date()) + {{ refresh }}*1000);
  initcount(deadline);
});
</script>
{% endblock %}
{% endif %}

    {% block middle %}
    <div id="Rack" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h3 class="modal-title">
              {% trans "Rack" %}: <span id="RackCode"></span>
            </h3>
          </div>
          <div class="modal-body" id="RackData">
          </div>
        </div>
      </div>
    </div> <!-- Rack modal ends -->
    <div id="Sample" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h3 class="modal-title">
              {% trans "Tube" %}: <span id="SampleCode"></span>
            </h3>
          </div>
          <div class="modal-body" id="SampleData">
          </div>
        </div>
      </div>
    </div> <!-- Sample modal ends -->
    <div class="panel panel-primary col-md-12">
      <div class="panel-heading">
        <h3>{% trans "Controls" %}</h3>
      </div>
      <div class="panel-body">
        <form id="batchform" action="batch" method="POST">
          {% csrf_token %}
        <div class="row">
          <span class="col-md-2 text-left">
            <a href="upload" class="btn btn-info text-right">
               {% trans "Upload sample batch" %}</a>
          </span>
          <span class="col-md-8 text-center"> &nbsp; </span>
          <span class="col-md-2 text-right">&nbsp;</span>
        </div>
        <div class="row">
          <span class="col-md-2 text-left">
            <a href="history" class="btn btn-info text-right">
               {% trans "Show processed batches" %}</a>
          </span>
          <span class="col-md-8 text-center">
              <select id="batchid" name="batchid" class="form-control">
                <option value="0"></option>
                {% for b in batches %}
                {% if b == batch %}
                <option selected value="{{b.id}}">{{b}}</option>
                {% else %}
                <option value="{{b.id}}">{{b}}</option>
                {% endif %}
                {% endfor %}
              </select>
          </span>
          <span class="col-md-2 text-right">
              <input type="Submit" class="btn btn-info"
                     value="{% trans "Load batch" %}">
          </span>
        </div>
        </form>
      </div>
    </div> <!-- Controls panel ends -->
    <div class="panel panel-primary col-md-12">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            <h3>
              {% trans "Pooling station" %}
              {% if request.session.pooling_robot %}
              ({% trans "robot view" %})
              {% else %}
              ({% trans "rack loading" %})
              {% endif %}
            </h3>
          </div>
          <div class="col-md-4 text-right">
            {% if request.session.pooling_robot %}
            <a href="togle" class="btn btn-default">
              {% trans "Rack Loading" %}
            </a>
            {% else %}
            <a href="togle" class="btn btn-default">
              {% trans "Display Robot" %}
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="panel panel-primary col-md-4">
            <div class="panel-heading">
            {% if rack4 %}
              <button class="btn btn-default"
                      onClick="$('#RackCode').html('{{rack4.identifier}}');
                               $('#RackData').load('{% url "pooling:show" rack4.id %}');
                               $('#Rack').modal();
                              ">
              {% trans "View" %}</button>
              {{ rack4.identifier }}
            {% elif freeracks %}
              <div class="row">
                <form action="loadrack/4" method="post">
                  {% csrf_token %}
                  <div class="col-md-9">
                    <select id="rack" name="rack"
                            class="form-control" style="text: black;">
                      {% for r in freeracks %}
                      <option value="{{r.id}}">{{r}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-1">
                    <input type="Submit" class="btn btn-default"
                           value="{% trans "Load rack" %}">
                  </div>
                </form>
              </div>
            {% else %}
              <a href="newrack/4" class="btn btn-default">
                {% trans "New rack" %}
              </a>
            {% endif %}
            </div>
            <div class="panel-body">
              <table class="table table-hoverable table-responsive">
                {% regroup rack4.grid by row as row_list %}
                {% for row, cols in row_list %}
                <tr>
                   <td><strong>{{ row }}</strong></td>
                   {% for g in cols %}
                   <td id="R{{rack4.position}}{{g.row}}{{g.col}}"
                      style="text-align: center;
                      {% if g.samples %}background-color: lime{% endif %}">
                      {{g.samples}}
                  </td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </table>
            </div>
          </div> <!-- Position 4 ends -->
          <div class="col-md-4">
            <div class="panel panel-primary col-md-8">
              <div class="panel-heading">
                <h4>{% trans "Load samples on 24 4x6 racks" %}</h4>
              </div>
              <div class="panel-body">
                <span class="col-md-10 text-left">
                  <form id="sampleform" method="POST" action="loadsample">
                    {% csrf_token %}
                    {% trans "Sample ID" %}
                    <input name="identifier" id="identifier">
                  </form>
                </span>
              </div>
            </div> <!-- Sample entry area ends -->
            <div class="panel panel-primary col-md-4 text-center">
              <a class="col-md-12 btn btn-info p-3 text-center"
                 {%if refresh%}disabled="disabled"{%endif%}
                 href="move">
                {% trans "Simulate Pooling" %}
              </a>
            </div> <!-- End Pool button ends -->
            <div class="panel panel-primary col-md-8">
              <div class="panel-heading">
              <h4>{% trans "Load pool tubes on 4x6 rack on tray 2" %}</h4>
              </div>
              <div class="panel-body">
                <span class="col-md-10 text-left">
                  <form id="tubeform" method="POST" action="loadtube">
                    {% csrf_token %}
                    {% trans "Tube ID" %} <input name="tubeid" id="tubeid">
                  </form>
                </span>
              </div>
            </div> <!-- Tube entry area ends -->
            <div class="panel panel-primary col-md-4 text-center">
              <a class="col-md-12 btn btn-danger p-3 text-center"
                 {%if refresh%}disabled="disabled"{%endif%}
                 href="finish">
                {% trans "Remove Racks" %}
              </a>
            </div> <!-- Remove racks button ends -->
            {% if request.session.pooling_robot %}
            <div class="panel panel-primary col-md-4 text-center">
              <a class="col-md-12 btn btn-danger p-3 text-center"
                 {%if refresh%}
                 href="stop">
                {% trans "Stop Process" %}
                {% else %}
                 href="start">
                {% trans "Start Process" %}
                {% endif %}
              </a>
            </div> <!-- Star/end process button ends -->
            {% endif %}
          </div> <!-- Position 5 ends -->
          <div class="panel panel-primary col-md-4">
            <div class="panel-heading">
            {% if rack6 %}
            <button class="btn btn-default"
                    onClick="$('#RackCode').html('{{rack6.identifier}}');
                             $('#RackData').load('{% url "pooling:show" rack6.id %}');
                             $('#Rack').modal();
                            ">
              {% trans "View" %}</button>
            {{ rack6.identifier }}
            {% elif freeracks %}
              <div class="row">
                <form action="loadrack/6" method="post">
                  {% csrf_token %}
                  <div class="col-md-9">
                    <select id="rack" name="rack"
                            class="form-control" style="text: black;">
                      {% for r in freeracks %}
                      <option value="{{r.id}}">{{r}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-1">
                    <input type="Submit" class="btn btn-default"
                           value="{% trans "Load rack" %}">
                  </div>
                </form>
              </div>
            {% else %}
              <a href="newrack/6" class="btn btn-default">
                {% trans "New rack" %}
              </a>
            {% endif %}
            </div>
            <div class="panel-body">
              <table class="table table-hoverable table-responsive">
                {% regroup rack6.grid by row as row_list %}
                {% for row, cols in row_list %}
                <tr>
                  <td><strong>{{ row }}</strong></td>
                  {% for g in cols %}
                  <td id="R{{rack6.position}}{{g.row}}{{g.col}}"
                      style="text-align: center;
                             {% if g.samples %}background-color: lime{% endif %}">
                      {{g.samples}}
                  </td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </table>
            </div>
          </div> <!-- Position 6 ends -->
        </div> <!-- First row ends -->
        <div class="row">
          <div class="panel panel-primary col-md-4">
            <div class="panel-heading">
            {% if rack1 %}
            <button class="btn btn-default"
                    onClick="$('#RackCode').html('{{rack1.identifier}}');
                             $('#RackData').load('{% url "pooling:show" rack1.id %}');
                             $('#Rack').modal();
                            ">
              {% trans "View" %}</button>
            {{ rack1.identifier }}
            {% elif freeracks %}
              <div class="row">
                <form action="loadrack/1" method="post">
                  {% csrf_token %}
                  <div class="col-md-9">
                    <select id="rack" name="rack"
                            class="form-control" style="text: black;">
                      {% for r in freeracks %}
                      <option value="{{r.id}}">{{r}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-1">
                    <input type="Submit" class="btn btn-default"
                           value="{% trans "Load rack" %}">
                  </div>
                </form>
              </div>
            {% else %}
              <a href="newrack/1" class="btn btn-default">
                {% trans "New rack" %}
              </a>
            {% endif %}
            </div>
            <div class="panel-body">
              <table class="table table-hoverable table-responsive">
                {% regroup rack1.grid by row as row_list %}
                {% for row, cols in row_list %}
                <tr>
                  <td><strong>{{ row }}</strong></td>
                  {% for g in cols %}
                  <td id="R{{rack1.position}}{{g.row}}{{g.col}}"
                      style="text-align: center;
                             {% if g.samples %}background-color: lime{% endif %}">
                      {{g.samples}}
                  </td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </table>
            </div>
          </div> <!-- Position 1 ends -->
          <div class="panel panel-primary col-md-4">
            <div class="panel-heading">
            {% if rackf %}
            <button class="btn btn-default"
                    onClick="$('#RackCode').html('{{rackf.identifier}}');
                             $('#RackData').load('{% url "pooling:show" rackf.id %}');
                             $('#Rack').modal();
                            ">
              {% trans "View" %}</button>
            {{ rackf.identifier }}
            <span id="refreshstatus"></span>
            {% elif poolracks %}
              <div class="row">
                <form action="loadrack/2" method="post">
                  {% csrf_token %}
                  <div class="col-md-9">
                    <select id="rack" name="rack"
                            class="form-control" style="text: black;">
                      {% for r in poolracks %}
                      <option value="{{r.id}}">{{r}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-1">
                    <input type="Submit" class="btn btn-default"
                           value="{% trans "Load rack" %}">
                  </div>
                </form>
              </div>
            {% else %}
              <a href="newrack/2" class="btn btn-default">
                {% trans "New rack" %}
              </a>
            {% endif %}
            </div>
            <div class="panel-body">
              <table class="table table-hoverable table-responsive">
                {% regroup rackf.grid by row as row_list %}
                {% for row, cols in row_list %}
                <tr>
                  <td><strong>{{ row }}</strong></td>
                  {% for g in cols %}
                  <td id="R2{{g.row}}{{g.col}}"
                      style="text-align: center;
                             {% if g.tube %}background-color: lime{% endif %}">
                    <span id="C2{{g.row}}{{g.col}}">
                      {{g.samples}}</span>
                  </td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </table>
            </div>
          </div> <!-- Position 2 ends -->
          <div class="panel panel-primary col-md-4">
            <div class="panel-heading">
            {% if rack3 %}
              <button class="btn btn-default"
                      onClick="$('#RackCode').html('{{rack3.identifier}}');
                               $('#RackData').load('{% url "pooling:show" rack3.id %}');
                               $('#Rack').modal();
                              ">
                {% trans "View" %}</button>
              {{ rack3.identifier }}
            {% elif freeracks %}
              <div class="row">
                <form action="loadrack/3" method="post">
                  {% csrf_token %}
                  <div class="col-md-9">
                    <select id="rack" name="rack"
                            class="form-control" style="text: black;">
                      {% for r in freeracks %}
                      <option value="{{r.id}}">{{r}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-1">
                    <input type="Submit" class="btn btn-default"
                           value="{% trans "Load rack" %}">
                  </div>
                </form>
              </div>
            {% else %}
              <a href="newrack/3" class="btn btn-default">
                {% trans "New rack" %}
              </a>
            {% endif %}
            </div>
            <div class="panel-body">
              <table class="table table-hoverable table-responsive">
                {% regroup rack3.grid by row as row_list %}
                {% for row, cols in row_list %}
                <tr>
                  <td><strong>{{ row }}</strong></td>
                  {% for g in cols %}
                  <td id="R{{rack3.position}}{{g.row}}{{g.col}}"
                      style="text-align: center;
                             {% if g.samples %}background-color: lime{% endif %}">
                      {{g.samples}}
                  </td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </table>
            </div>
          </div> <!-- Position 3 ends -->
        </div> <!-- Second row ends -->
      </div> <!-- Racks tray ends -->
    </div> <!-- Pooling station ends -->
<script nonce="{{settings.VARIABLE_NONCE_CSP}}" type="text/javascript">
    var sfrm = $('#sampleform');
    sfrm.submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: sfrm.attr('method'),
            url: sfrm.attr('action'),
            data: sfrm.serialize(),
            success: function (data) {
                $('#identifier').val('');
                $('#R'+data.pos+''+data.row+''+data.col).css('background-color','lime');
                $('#R'+data.pos+''+data.row+''+data.col).html(data.samples);
            },
            error: function (data) {
                alert(data.responseJSON.error);
            },
        });
    });
    var tfrm = $('#tubeform');
    tfrm.submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: tfrm.attr('method'),
            url: tfrm.attr('action'),
            data: tfrm.serialize(),
            success: function (data) {
                $('#tubeid').val('');
                $('#R2'+data.row+''+data.col).css('background-color','lime');
                $('#R2'+data.row+''+data.col).html(data.samples);
            },
            error: function (data) {
                alert(data.responseJSON.error);
            },
        });
    });
{% if refresh %}
(function worker() {
    $('#refreshstatus').html('Refreshing...');
    $.getJSON({
        url: '{% url 'pooling:refresh' %}',
        success: function(result){
            if (result.data == 'reload') {location.reload();};
            $.each(result.data, function(i,value){
              $('#'+value.cell).html(value.samples);  
              if ( value.samples == 0 ) {
                $('#'+value.cell).css({'background-color': '#fff'});
                };
              })
            },
        complete: function() {
            // Schedule the next request when the current one's complete
            setTimeout(worker, {{ refresh }}*1000);
            $('#refreshstatus').html('Waiting {{ refresh }}s ...');
            }
        });
})();
{% endif %}
</script>
    {% endblock %}
